<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unseenspace.irc" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/irc_launcher"
        android:label="@string/app_name"
        android:name="com.unseenspace.android.LeakyCanaryApplication"
        android:theme="@style/AppTheme.Light"
        android:fullBackupContent="@xml/backup"
        android:screenOrientation="sensor"
        android:configChanges="keyboard|orientation|screenSize|keyboardHidden|screenLayout|layoutDirection|uiMode"
        android:supportsRtl="true" >

        <activity
            android:name="com.unseenspace.irc.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unseenspace.irc.SettingsActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unseenspace.irc.MainActivity"/>
        </activity>
        <service android:name="com.unseenspace.irc.IrcService" />
    </application>

</manifest>
